{% extends 'base.html.twig' %}

{% block title %}Car Park{% endblock %}
{% block body %}

<div>


  <div class="d-flex flex-column justify-content-center " >

      <div class="card text-center m-5">
          <div class="card-header">
            Welcome
          </div>
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit</h5>
            <p class="card-text">Amet consectetur adipisicing elit. Natus officiis excepturi repellendus molestiae enim fugit voluptatibus aspernatur! Dolores, vitae blanditiis sequi tenetur error suscipit minima ad fugit. Quidem, nemo laboriosam!</p>
          </div>
        </div>

         <div class="card text-center m-5 bg-warning">
          <div class="card-header">
            About us
          </div>
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit</h5>
            <p class="card-text">Amet consectetur adipisicing elit. Natus officiis excepturi repellendus molestiae enim fugit voluptatibus aspernatur! Dolores, vitae blanditiis sequi tenetur error suscipit minima ad fugit. Quidem, nemo laboriosam!</p>
          </div>
        </div>

          <div class="card text-center m-5">
          <div class="card-header">
            For you
          </div>
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit</h5>
            <p class="card-text">Amet consectetur adipisicing elit. Natus officiis excepturi repellendus molestiae enim fugit voluptatibus aspernatur! Dolores, vitae blanditiis sequi tenetur error suscipit minima ad fugit. Quidem, nemo laboriosam!</p>
          </div>
        </div>

          <div class="card text-center m-5 bg-warning ">
          <div class="card-header">
           Join us
          </div>
          <div class="card-body">
            <h5 class="card-title">Lorem ipsum dolor sit</h5>
            <p class="card-text">Amet consectetur adipisicing elit. Natus officiis excepturi repellendus molestiae enim fugit voluptatibus aspernatur! Dolores, vitae blanditiis sequi tenetur error suscipit minima ad fugit. Quidem, nemo laboriosam!</p>
          </div>
        </div>
  <div>


</div>


{% endblock %}
